<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom ">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/listings">
        <i class="fa-regular fa-compass me-2"></i>
        <span class="fw-bold">StayFinder</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">EXPLORE</a>
        </div>
        <div class="navbar-nav ms-auto">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit"><a href="/listings" >go</a></button>
          <a class="nav-link" href="/listings/new">ADD NEW </a>
          <% if(!currentUser){%>
            <a class="nav-link" href="/signup">signup</a>
            <a class="nav-link" href="/login">login</a>
          <% } %>
          <% if(currentUser){%>
            <a class="nav-link" href="/logout">logout</a>
          <% } %>
        </div>
      </div>
    </div>
</nav>