<% layout("/layouts/boilerplate") %>


<div class="container mt-5">
  <h1>login</h1>
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" required />
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">login</button>
  </form>
</div>

